!!! 5
html
	head
		link(ref="stylesheet",href="http://fonts.googleapis.com/css?family=Oswald:300",type="text/css")
		link(ref="stylesheet",href="http://cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css")
		link(ref="stylesheet",href="../../css/combine.css",rel="stylesheet")		
		script(src="http://192.168.1.111:35729/livereload.js")
	body
		.articleOutter#a
			.profilePic			
				a.username(href="#") SomeGuy				
			.article
		.articleOutter#b
			.profilePic			
				a.username(href="#") SomeGuy				
			.article
		.articleOutter#c
			.profilePic			
				a.username(href="#") SomeGuy				
			.article
		.articleOutter#d
			.profilePic			
				a.username(href="#") SomeGuy				
			.article				
		