doctype 5
html(ng-app="pella")
head
	title Pella
	script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
	script(src="../vendor/js/use.js")
	script(src="../js/use.js")
	link(href="../vendor/css/combine.css",rel="stylesheet")
	link(href="../css/combine.css",rel="stylesheet")
	script(src="http://192.168.1.111:35729/livereload.js")
body
	.articleWrapper
		.article
			


