!!! 5
html
	head
		link(ref="stylesheet",href="http://fonts.googleapis.com/css?family=Quicksand:400,700",type="text/css")
		link(ref="stylesheet",href="http://cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css")
		link(ref="stylesheet",href="../../css/combine.css",rel="stylesheet")		
		script(src="http://code.jquery.com/jquery.js")
		script(src="../../js/newArt.js")
		script(src="http://192.168.1.111:35729/ljivereload.js")
	body		
		.o.first
			img.profilePic(src="../icon/7.jpg")
			.q 
				a(href="#") faCiNine
				span It's really Good
			.a
				.b
					.c
					.d
		.o
			img.profilePic(src="../icon/8.jpg")
			.q 
				a(href="#") Mei Lei
				span Just fantastic!
			.a
				.b
					.c
					.d			
		.o.last
			img.profilePic(src="../icon/9.jpg")
			.q 
				a(href="#") Lu Fu Zhi
				span I don't really like this Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			.a
				.b
					.c
					.d
