*{
    border: aqua solid thin;
}

html{
    border: none;
}

body{
    border:none;
}

.suggestion{
    width: 500px;
    min-height: 300px;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px;
    position: relative;
}

.leftPanel{
    float: left;
    position: absolute;
    width: 20%;
    height: 100%;
    background: aquamarine;
}

.leftPanel>span:first-letter{
    font-size: 2em;
}


.rightPanel{
    float: left;
    position: absolute;
    left: 20%;
    width: 80%;
    height: 100%;
    background: coral;
}