body {
    padding: 0;
    margin: 0
}

.container {
    padding-left: 0;
    margin-left: 0;
}

.container .mainContent {
    position: relative;
    padding: 10px
}

.chat {
    position: relative;
    right: 5px;
    width: 100%
}

.icon {
    width: 30px;
    height: 30px
}

.chatRightBar {
    z-index: 999;
    background-color: #fcfcfc;
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    right: 0;
    overflow: hidden
}

.item {
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis
}

.chatPanel {
    bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    position: fixed;
    width: 250px;
    height: 300px;
    background: #f8f8ff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

.topbar {
    background-color: #858585;
    width: 250px;
    height: 20px;
    position: absolute
}

span.topRight i.icon-remove-sign {
    float: right;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    color : ghostwhite;
    font-size: 10px
}
span.topRight i.icon-cog {
    float: right;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    color : ghostwhite;
    font-size: 10px
}

span.topLeft .username{
	float:left;
    padding-left:5px;
    color:white;
    line-height: 20px;
    font-size:11px
}

.bottombar {
    position: absolute;
    bottom: 0;
}

.bottombar input {
    width: 230px;
    height: 20px;
    padding: 0;
    margin: 0;
    border: none
}