@import url("http://fonts.googleapis.com/css?family=Lato:400,100italic");
$lightblue = #c1e1ec
$lightred = #ff4d4d
$lightyellow = #ffff77
$lightgreen = #00cc00
$lightpink = #ffb6c1


body{
	margin-left:50px;	
}

#a
	background: $lightblue
#b
	background: $lightred
#c
	background $lightpink
#d
	background $lightgreen


.articleOutter
	width:400px;
	height:100px;
	position: relative
	border-style solid

.profilePic
	position absolute
	width:50px
	height:50px
	padding:4px
	border-style solid
	border-width 1px
	border-color ghostwhite

.article
	position relative
	padding-top:20px

.title
	position absolute
	
.username
	font-family: 'Oswald', sans-serif	
	text-decoration:none	
	color: white
	


