
.profilePic{
	width:48px;
	height:48px;
	padding:0px;
	margin:0;
}

.o{
	position: relative;
	height:47px;
	width:400px;
	padding:0px;
	overflow: hidden;	
	z-index: 0;
/*	border-top-width: 0px;
	border-right-color:darken(ghostwhite,2);
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-color:darken(ghostwhite,2);
	border-bottom-style: solid;
	border-bottom-width: 1px;*/
	margin-bottom:0px;
	border-right:solid 1px darken(ghostwhite,2);
}
.q{
	position: absolute;
	left:50px;
	width:292px;	
	border-color: darken(ghostwhite,2);
	border-width: 1px;	
	border-style:solid;	
	font-size:11px;
	z-index:1000;
	color:black;
	padding:3px;	
	font-family:Lato;
	min-height: 42px;
}
.q>a{
	text-decoration: none;
	color: #4183c4;
}


.a{
	position: absolute;
	right:0px;
	width:50px;
	height:50px;
}
.b{
	position: relative;
}
.d{
	position: absolute;
	right:0;
	width:23px;
	height:23px;
	border-width: 1px;
	border-color: ghostwhite;
	border-style: solid;

}

.o.last{
	border-bottom: solid 1px darken(ghostwhite,2); 
}