html(ng-app="myApp")
head
    link(rel="stylesheet",href="css/style.css")
    script(src="/js/vendor/angularjs/angular.js")
    script(src="/js/vendor/jquery/dist/jquery.js")
	script(src="/js/myscript.js")
body
    h1 something just about to show here
    h2(ng-controller="abcCtrl")
